body {
    font-family: Arial, sans-serif;
}

.main-box {
    border: 2px solid black;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

.outer-box {
    background-color: blue;
    padding: 30px;
    margin-top: 20px;
}

.inner-box {
    background-color: yellow;
    text-align: center;
    align-content: center;
    padding: 40px;
    font-size: 18px;
    font-family: 'Times New Roman', serif;
}
